# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Root files
*.root

#ODS files
*.ods

# All files in bin folder 
# but with a trick to keep the empty folder (you cannot commit empty folders in git)
bin/*
!bin/.gitkeep 

